body {
    background-color: black;
    color: white;
    font-family: Consolas, "Courier New", monospace;
    font-size: 12px;
    line-height: 12px;
}

#orderbook table {
    margin: 0 auto;
    width: 285px;
    max-width: 285px;
    overflow: hidden;

}

table {
    border-collapse: collapse;
    border-spacing: 0;
    height: 25px;
}



